<launch>

  <arg name="camera"		default="camera"/>
  <arg name="config_file"	default="$(dirname)/../config/default.yaml"/>
  <arg name="tf_prefix"		default="$(arg camera)"/>

  <arg name="external_manager"	default="false"/>
  <arg name="manager"		default="realsense2_camera_manager"/>
  <arg name="output"		default="screen"/>
  <arg name="required"		default="false"/>
  <arg name="respawn"		default="false"/>

  <include ns="$(arg camera)"
	   file="$(dirname)/includes/nodelet_with_config.launch.xml">
    <arg name="config_file"		value="$(arg config_file)"/>
    <arg name="tf_prefix"		value="$(arg tf_prefix)"/>
    <arg name="external_manager"	value="$(arg external_manager)"/>
    <arg name="manager"			value="$(arg manager)"/>
    <arg name="output"			value="$(arg output)"/>
    <arg name="required"		value="$(arg required)"/>
    <arg name="respawn"			value="$(arg respawn)"/>
  </include>

</launch>
