<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:arg name="use_bottom_mount"       default="false"/>
  <xacro:include filename="$(find realsense2_description
			   )/urdf/_sr305.urdf.xacro" />

  <link name="base_link" />
  <xacro:sensor_sr305 parent="base_link"
		      use_bottom_mount="$(arg use_bottom_mount)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_sr305>
</robot>
